{deps, [grisp,
	{antidote_pb, {git, "https://github.com/SyncFree/antidote_pb"}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
	{otp, [
		{version, "21.0"}
	]},
		{deploy, [
			{pre_script, "rm -rf /Volumes/GRISP/*"},
			{destination, "/Volumes/GRISP"},
			{post_script, "./post_script.sh"}
		]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [robot]}
]}.
